style
body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;                                      
    margin: auto;
    height: 100vh;
    width: 50vw;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
.time{
    margin: 30px;
}
.start{
    background-color: lightgreen;
}
.stop{
    background-color: #d64e31;
}
.reset{
    background-color: #928c8b;
}
.pomodoro{
    background-color: #f39c12;
}
.short{
    background-color: #0593f1;
}
.long{
    background-color: #7e25f4;
}
h1 {
    margin-bottom: 20px;
}

.modes button,
.controls button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modes button:hover,
.controls button:hover {
    opacity: 0.9;
}

#timer-display {
    font-size: 48px;
    margin: 20px 0;
    letter-spacing: 2px;
}